<div class="worklist">

    {% for post in site.categories.community %}
    <a href="{{ post.url }}">
        <div class="work communitylist">
        
            <div class="work_title">
                <h1>{{ post.title }}</h1>
            </div>
        
            <div class="work_date">
                <h2>{{ post.production_date }}</h2>
            </div>
        
            <div class="work_materials">
                <h2>{{ post.type }}</h2>
            </div>
        
            <div class="work_location">
                <h2>{{ post.location }}</h2>
            </div>
                
        </div>
    </a>
    {% endfor %}

</div>