<div class="textlist">

    {% for post in site.categories.text %}
        <div></div>    

        <div class="titles">
            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <h5>2/12/{{ post.production_date }}</h5>
            <h5>{{ post.type }}</h5>
            
            
        </div>

        <div class="bodytext">
            
            <p>{{ post.excerpt }}</p>
            <a href="{{ post.url }}"><h3>Read more -></h3></a>
        </div>

        <div></div>

    {% endfor %}

</div>