<div class="worklist">

    {% for post in site.categories.work %}
    <a href="{{ post.url }}">
        <div class="work">
        
            <div class="work_title">
                <h1>{{ post.title }}</h1>
            </div>
        
            <div class="work_date">
                <h2>{{ post.production_date }}</h2>
            </div>
        
            <div class="work_materials">
                <h2>{{ post.materials }}</h2>
            </div>
        
            <div class="work_dimensions">
                <h2>{{ post.dimensions }}</h2>
            </div>
                
        </div>
    </a>
    {% endfor %}

</div>