div.worklist{
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    height: min-content;
    overflow-y: scroll;

    a{
        text-decoration: none;
    }
}

div.work{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr; 
}

div.work:hover{
   h1, h2{
    font-family: "logic-monoscript", mono;
   }
    h1{
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    div.work{
        display: grid;
        grid-template-columns: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        
        
        div{
            padding: 0px;

            h1{
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: "logic-monoscript", mono;
            }
            h2{
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }

}
